<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs"
      xml:lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Restaurace</title>
        <link rel="shortcut icon" href="/restaurace/restaurace-icon.ico" type="image/x-icon"/>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <div th:include="../templates/styles :: styles"></div>
        <div th:include="../templates/jsincludes :: js"></div>
    </head>

    <body>
        <header th:include="../templates/header :: header"></header>
        <div id="container">
            <div th:include="../templates/menu :: menu"></div>
            <div id="main_content" >
                <div th:unless="${newRegOrders} == null">
                    <h3 th:text="#{ui.adminNewOrders.regOrders}"></h3>
                    <table class="order" th:each="order : ${newRegOrders}">
                        <tbody th:unless="${order.customer} == null">
                        <tr>
                            <td th:text="#{ui.adminNewOrders.totalPrice} + ': ' + ${order.valueOfTotalPriceField} + ' Kč'"></td>
                            <td th:text="#{ui.adminNewOrders.street} + ': ' + ${order.customer.address.street}"></td>
                            <td th:text="#{ui.adminNewOrders.city} + ': ' + ${order.customer.address.city}"></td>
                            <td th:text="#{ui.adminNewOrders.phonenumber} + ': ' + ${order.customer.telephone}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{ui.adminNewOrders.houseNumber} + ': ' + ${order.customer.address.houseNumber}"></td>
                            <td th:text="#{ui.adminNewOrders.zipCode} + ': ' + ${order.customer.address.zipCode}"></td>
                            <form class="processOrder">
                                <td>
                                    <input type="submit" th:value="#{ui.adminNewOrders.process}"/>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:unless="${newNotregOrders} == null">
                    <h3 th:text="#{ui.adminNewOrders.notregOrders}"></h3>
                    <table class="order" th:each="order : ${newNotregOrders}">
                        <tbody th:unless="${order.tempCustomerInfo} == null">
                            <tr>
                                <td th:text="#{ui.adminNewOrders.totalPrice} + ': ' + ${order.valueOfTotalPriceField} + ' Kč'"></td>
                                <td th:text="#{ui.adminNewOrders.street} + ': ' + ${order.tempCustomerInfo.street}"></td>
                                <td th:text="#{ui.adminNewOrders.city} + ': ' + ${order.tempCustomerInfo.city}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{ui.adminNewOrders.phonenumber} + ': ' + ${order.tempCustomerInfo.phonenumber}"></td>
                                <form class="processOrder">
                                    <td>
                                        <input type="submit" th:value="#{ui.adminNewOrders.process}"/>
                                    </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer th:include="../templates/footer :: footer"></footer>
    </body>
</html>