<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs"
      xml:lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurace</title>
    <link rel="shortcut icon" href="/restaurace/restaurace-icon.ico" type="image/x-icon"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <div th:include="../templates/styles :: styles"></div>
    <div th:include="../templates/jsincludes :: js"></div>
</head>

<body>
<header th:include="../templates/header :: header"></header>

<div id="container">
    <div th:include="../templates/menu :: menu"></div>
    <div id="main_content">

        <!-- ORDERED DISHES -->

        <div id="cartItems" th:fragment="cartItems">
            <h1 th:text="#{ui.cart.cart}"></h1>
            <table th:unless="${session.cart} == null or ${orderedDishes.isEmpty()}"
                   th:each="dish : ${orderedDishes}"
                   th:class="${dish.value.dishCategory.name}" >
                <tbody>
                    <tr>
                        <td class="first"><b th:text="${dish.value.dishLoc.name}"></b></td>
                        <td class="second"><b th:text="${dish.value.dishLoc.description}"></b></td>
                        <td class="third"><b th:text="#{ui.cart.price} + ' ' + ${dish.value.price} + ' Kč'"></b></td>
                        <td class="fourth" th:text="#{ui.cart.amount} + ' ' + ${dish.value.amount}"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td th:text="${dish.value.kcal} + ' ' + #{ui.dishmenu.kcal}"></td>
                        <td th:text="${dish.value.fatGrams} + ' ' + #{ui.dishmenu.fat}"></td>
                        <td></td>
                        <td></td>
                        <td>
                            <form class="removeCartItem">
                                <input name="id" type="hidden" th:value="${dish.value.id}"/>
                                <input type="image" src="/restaurace/resources/images/red-cross.png"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${dish.value.proteinGrams} + ' ' + #{ui.dishmenu.protein}"></td>
                        <td th:text="${dish.value.saccharideGrams} + ' ' + #{ui.dishmenu.sugar}"></td>
                    </tr>
                </tbody>
            </table>

            <!-- ORDERED TEPPANYAKI DISHES -->

            <table th:unless="${session.cart} == null or ${teppanyakiDishes.isEmpty()}"
                   th:each="dish : ${teppanyakiDishes}"
                    class="dish">
                <tbody>
                    <tr>
                        <td class="first"><b th:text="${dish.value.name}"></b></td>
                    </tr>
                    <tr>
                        <td th:each="ingr : ${dish.value.ingredients}" th:text="${ingr.value.ingredientLocalized.name}"></td>
                        <td>
                            <form class="removeCartItem">
                                <input name="id" type="hidden" th:value="${dish.value.id}"/>
                                <input type="image" src="/restaurace/resources/images/red-cross.png"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- CART CALCULATIONS -->

        <div>
            <table id="cartCalculations" th:object="${session.cart}">
                <tbody>
                    <tr>
                        <td th:text="#{ui.cart.totalPriceWithoutTax}"></td>
                        <td id="totalPriceTaxFree" th:text="*{getTotalPriceWithoutTax()} + ' Kč'"></td>
                    </tr>
                    <tr>
                        <td th:text="#{ui.cart.TaxCasual}"></td>
                        <td id="totalTax" th:text="*{regularTax} + ' Kč'"></td>
                    </tr>
                    <tr>
                        <td><b th:text="#{ui.cart.totalPriceWithTax}"></b></td>
                        <td><b id="totalPrice" th:text="*{totalPrice} + ' Kč'"></b></td>
                    </tr>
                </tbody>
            </table>
            <a class="abutton" th:href="@{/orderCart}" th:text="#{ui.cart.doOrder}"/>
            <a class="abutton" th:href="@{/emptyCart}" th:text="#{ui.cart.emptyCart}"/>
        </div>
    </div>
</div>

<footer th:include="../templates/footer :: footer"></footer>

</body>
</html>